accelerate
beautifulsoup4
distlib
distro
docopt
einops
faiss-cpu
Flask
frozenlist
fsspec
gitdb
GitPython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-pasta
googleapis-common-protos
googletrans
greenlet
grpcio
h11
h2
h5py
hpack
hstspreload
httpcore
httplib2
httpx
huggingface-hub
hyperframe
hyperlink
hypothesis
idna
importlib-metadata
importlib-resources
incremental
iniconfig
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
keras
langchain
langchain-community
langchain-core
langcodes
langsmith
libclang
llama-index
lxml
Markdown
markdown-it-py
MarkupSafe
mypy-extensions
nltk
oauthlib
openai
Pillow
protobuf
PyMuPDF
PyMuPDFb
pyOpenSSL
pyparsing
pypdf
PyPDF2
pypdfium2
pyproj
PyQt5
PySocks
pytest
pytest-cov
python-dateutil
python-dotenv
pytube
pytz
pytz-deprecation-shim
PyYAML
referencing
regex
replicate
reportlab
requests
requests-oauthlib
rfc3986
rsa
safetensors
selenium
seleniumbase==4.23.0
chromedriver-autoinstaller
sentence-transformers
streamlit
streamlit-chat
tensorflow
tensorflow-estimator
tensorflow-hub
tensorflow-intel
tensorflow-io-gcs-filesystem
textblob
tiktoken
tokenizers
toml
transformers
trio
trio-websocket
virtualenv
webdriver-manager
youtube-transcript-api
